[Unit]
Description=Lulzbot
After=network.target

[Service]
Type=simple
User=aldum
Group=users
WorkingDirectory=/srv/lulzbot/
PIDFile=/var/run/lulzbot.pid
ExecStart=/srv/lulzbot/.venv/bin/python bot.py production.conf
#Restart=always

[Install]
WantedBy=multi-user.target

